.product-page {
    display: flex;
    flex-direction: column;
    background: var(--product-detail-bg-color);
}

.product-container {
    margin-top: 30px;
}

.product-preview {
    &__list {
        display: flex;
        overflow: hidden;
    }

    &__item {
        position: relative;
        width: 100%;
        flex-shrink: 0;
        padding-top: 92%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__thumbs {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        gap: 20px;
    }

    &__thumb-img {
        width: 65px;
        height: 65px;
        object-fit: contain;
        border: 1.5px solid rgba(158, 157, 168, 0.3);
        border-radius: 8px;
        cursor: pointer;

        opacity: 0.8;
        transition: opacity 0.25s, border-color 0.25s;

        &:hover {
            opacity: 1;
            border-color:#9e9da8;
        }

        &--current {
            opacity: 1;
            border-color: #ffb700;
        }
    }
}

.product-info {
    padding: 60px;
    background: #f6f6f6;

    &__heading {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.38;
    }

    &__label {
        margin-top: 30px;
    }

    &__card {
        margin-top: 30px;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid #b9babe;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__price {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
    }

    &__tax {
        margin-left: 10px;
        padding: 2px 8px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), #67b044;
        color: #67b044;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42;
    }

    &__total-price {
        margin: 20px 0;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.38;
    }

    &__add-to-cart {
        flex: 1;
    }

    &__like-btn {
        width: 46px;
        height: 46px;
        margin-left: 20px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        background: transparent;
    }

    &__tag {
        background: #ededf6;
    }
}

.product-properties {
    padding-left: 30px;
}

.product-property {
    display: flex;
    gap: 16px;
    margin-top: 30px;

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;
    }

    &__icon {
        align-self: flex-start;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.4rem;
        line-height: 1.42;
    }

    
}