@use "../abstracts";
html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(32%) saturate(861%) hue-rotate(210deg) brightness(97%) contrast(102%);
    
    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --top-action-group-bg-color: #fff;
    --top-action-group-box-shadow: rgba(237, 237, 246, 0.2);
    --top-action-separate-bg-color: #ededf6;
    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20);
    }
    // mega menu
    --dropdown-bg-color: #fff;
    --dropdown-box-shadow: rgba(200, 200, 200, 0.4);
    --top-menu-border-right-color: #d2d1d6;
    // sidebar
    --sidebar-bg-color: #fff;
    --sidebar-box-shadow:rgba(200, 200, 200, 0.40);
    // categories-item
    --category-item-bg-color: #eee;
    --category-item-thumb-bg-color: #fff;
    --category-item-title-color: #000;
    @include abstracts.screen(md) {
        --category-item-bg-color: #fff;
    }
}