@use "../abstracts";
html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(32%) saturate(861%) hue-rotate(210deg) brightness(97%) contrast(102%);
    
    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --footer-bg-color: #eee;

    --top-action-group-bg-color: #fff;
    --top-action-group-box-shadow: rgba(237, 237, 246, 0.2);
    --top-action-separate-bg-color: #ededf6;
    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20);
    }

    // Header
    --header-action-dropdown-bg-color: #fff;
    --header-action-dropdown-shadow: rgba(200, 200, 200, 0.4);

    // mega menu
    --dropdown-bg-color: #fff;
    --dropdown-box-shadow: rgba(200, 200, 200, 0.4);
    --top-menu-border-right-color: #d2d1d6;
    // sidebar
    --sidebar-bg-color: #fff;
    --sidebar-box-shadow:rgba(200, 200, 200, 0.40);
    // categories-item
    --category-item-bg-color: #eee;
    --category-item-thumb-bg-color: #fff;
    --category-item-title-color: #000;
    @include abstracts.screen(md) {
        --category-item-bg-color: #fff;
    }
    // filter button
    --filter-btn-color: #6c6c72;
    --filter-btn-bg-color: #fff;

    --like-btn-shadow: rgba(124, 124, 124, 0.20);

    // product card
    --product-card-bg-color: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // filter form
    --filter-form-bg-color: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    
    // Auth
    --auth-content-bg-color: #fff;
    @include abstracts.screen(md) {
        --auth-intro-bg-color: #fff;
    }

    // Form
    --form-placehoder-color: #d2d1d6;
    --form-tag-bg-color: #f8f8fb;

    // Product detail page
    --product-detail-bg-color: #fff;
    --product-detail-info-bg-color: #f6f6f6;
    --product-detail-info-content-bg-color: #fff;
    --product-detail-info-tag-bg-color: #ededf6;

    @include abstracts.screen(md) {
        --product-detail-bg-color: #fafafd;
        --product-detail-info-bg-color: #fff;
    }

    // Breadcrumbs
    --breadcrumb-bg-color: #f6f6f6;
    --breadcrumb-shadow-color: rgba(237, 237, 246, 0.2);
    
    @include abstracts.screen(md) {
        --breadcrumb-bg-color: #fff;
    }

    // Search bar
    --search-bar-bg-color: #fff;

    // Review card
    --review-card-bg-color: #fafafd;
    
    @include abstracts.screen(md) {
        --review-card-bg-color: #fff;
    }

    // Text content
    --text-content-hr-bg-color: #ebebeb;
}