.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);
    // visibility: hidden;
    // opacity: 0;
    // transition: opacity 0.25s, visibility 0.25s;
    &__inner {
        max-height: min(582px, 100vh - 154px);
        padding: 30px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 40px 90px 20px var(--dropdown-box-shadow);
        position: relative;
        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    position: relative;
    max-height: calc(min(582px, 100vh - 154px) - 60px);
    &__main {
        width: var(--main-column-width);
        max-height: inherit;
        overflow-y: auto;
        border-right: 1px solid var(--top-menu-border-right-color);
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;
    + .menu-column {
        margin-top: 30px;
    }

    &__icon {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        position: relative;
    }

    &__icon-1, &__icon-2 {
        object-fit: cover;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
    }

    &__icon-2 {
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 0;
        right: 0;
        filter: var(--dropdown-menu-column-icon-color);
    }

    &__content {
        flex: 1;
    }

    &__heading {
        margin-top: 5px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.50;
    }

    &__list {
        margin-top: 19px;
    }

    &__item {
        &:hover .sub-menu {
            opacity: 1;
            scale: 1;
            visibility: visible;
        }
    }

    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        font-size: 1.4rem;
        line-height: 1.42;
        padding: 7px 0;
        display: block;
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-column-width);
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s;
}