@use "../abstracts";
.icon {
    filter: var(--icon-color);
}

*,
::after,
::before {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent; /* remove tap highlight on mobile */
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Gordita', sans-serif;
    color: var(--text-color);
    background: var(--body-bg-color);
}

/* reset tags style default */
a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a, label, img, button, input, textarea, select {
    outline: none;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit; /* remove default styling of tag a when displayed on mobile */
}

input, textarea {
    background: transparent;
}

// autofill: tự động điền
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color); // dấu nhấy con trỏ
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

i, em {
    font-style: italic;
}

b, strong {
    font-weight: 600;
}

.separate {
    margin: var(--margin) 0;
    height: 1px;
    background: var(--separate-bg-color);
}